<template name="Footer">

<div class="footer">
<div class="pure-menu pure-menu-horizontal">
    <p>
        <ul>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> About</a></li>
            <li class="pure-menu-item"><a href="/blog" class="pure-menu-link"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Blog</a></li>
            <li class="pure-menu-item"><a href="/contact" class="pure-menu-link"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Contact</a></li>
        </ul>
    </p>
    <p>
        <ul>
            <li class="pure-menu-item"><a class="pure-menu-link" target="_blank" href="https://twitter.com/intent/tweet?text=GiftMe&url=https://giftme-hempelj.c9users.io&via=TWITTER-HANDLE">Tweet</a></li>

            <li class="pure-menu-item"><a class="pure-menu-link" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://giftme-hempelj.c9users.io">Share on Facebook</a></li>
    
            <li class="pure-menu-item"><a class="pure-menu-link" target="_blank" href="https://plus.google.com/share?url=https://giftme-hempelj.c9users.io">Plus One on Google+</a></li>
    
            <li class="pure-menu-item"><a class="pure-menu-link" target="_blank" href="http://pinterest.com/pin/create/button/?url=https://giftme-hempelj.c9users.io&description=GiftMe&media=gift_reduced.jpg">Pin on Pinterest</a></li>
        </ul>
    </p>
</div>
</div>

</template>